doctype
html
  head
    meta(charset='UTF-8')
    title StatSocial Blog
    link(rel="stylesheet", type="text/css", href="main.css")
    link(rel="stylesheet", type="text/css", href="assets/kit.css")
    //- link(rel="stylesheet", href="css-assets/font/stylesheet.css", type="text/css", charset="utf-8")
  body
    include icons.svg
    .main-kl
      .section-kl
        .header-ke Colors
        .cf.m-t-x3-g
          .color-sample-ke.c-grey1-bg-g
          .color-sample-ke.c-grey2-bg-g
          .color-sample-ke.c-grey3-bg-g
          .color-sample-ke.c-grey4-bg-g
          .color-sample-ke.c-grey5-bg-g
          .color-sample-ke.c-grey6-bg-g
          .color-sample-ke.c-grey7-bg-g
          .color-sample-ke.c-grey8-bg-g
          .color-sample-ke.c-grey9-bg-g
          .color-sample-ke.c-grey10-bg-g

        .cf
          .color-sample-ke.c-blue1-bg-g
          .color-sample-ke.c-blue2-bg-g
          .color-sample-ke.c-blue3-bg-g

        .cf
          .color-sample-ke.c-facebook-bg-g
          .color-sample-ke.c-linkedin-bg-g
          .color-sample-ke.c-twitter-bg-g
        .cf
          .color-sample-ke.c-google-bg-g

      - var data = {}

      .section-kl
        .header-ke Icons
        .k-sample
          .hash-e#b749f3862138d6f5dc48e711cf78d96f b749f3862138d6f5dc48e711cf78d96f
          - var el = { path: 'logo-icon' }
          include partials/icon

        .k-sample
          .hash-e#b749f3862138d6f5dc48e711cf78d96f b749f3862138d6f5dc48e711cf78d96f
          - var el = { path: 'logo-text-icon' }
          include partials/icon

        .k-sample
          .hash-e#87402ed31b2c5fde31ba52b67ea2889b 87402ed31b2c5fde31ba52b67ea2889b
          - var el = { path: 'menu-icon' }
          include partials/icon

        .k-sample
          .hash-e#87402ed31b2c5fde31ba52b67ea2889b 87402ed31b2c5fde31ba52b67ea2889b
          - var el = { path: 'search-icon' }
          include partials/icon

        .cf

      .section-kl
        .header-ke Elements
        .k-sample
          .hash-e#67e12e92af48d19f9837ee74a939186d 67e12e92af48d19f9837ee74a939186d
          a(href="#") Link

          .hash-e#ec9afeed491f9ee1f433b3ef35b6dd58 ec9afeed491f9ee1f433b3ef35b6dd58
          .sidebar-header What is StatSocial?

          .hash-e#c389dcb7895129bf6e660063a6290571 c389dcb7895129bf6e660063a6290571
          .sidebar-about StatSocial delivers enterprise-class Twitter analytics that help marketers understand their social consumers. By identifying where Twitter users exist elsewhere on the Web, StatSocial offers an unparalleled level of demographic and psychographic insights from consumer data aggregated not just from Twitter, but from over sixty social sites and every major blog platform.

          .hash-e#7d7ed33281e44c7092ef2f908536f698 7d7ed33281e44c7092ef2f908536f698
          - el = { text: 'Matt Laure Joins Facebook', class: '', id: ''} 
          include partials/sidebar-list-item

          .hash-e#e55a1d273d2927877a38268403c3d6d3 e55a1d273d2927877a38268403c3d6d3
          .k-d-bg.k-sample
            - el = { text: 'statsocial' }
            - el.icon = { path: 'logo-icon'}
            include partials/icon-text

          .cf

          .hash-e#9d86756becc3c306959936f4c7e3a19f 9d86756becc3c306959936f4c7e3a19f
          - el = { text: 'Log In', class: '', id: ''} 
          include partials/header-link

          .hash-e#1c23fe75816818e2ccedba3fd66d8310 1c23fe75816818e2ccedba3fd66d8310
          .k-d-bg.k-sample
            - el = { text: 'Request Demo', class: '', id: ''} 
            include partials/rounded-btn

          .k-sample
            .hash-e#e2f1e61773da4f83d2d33fd6e38f3dec e2f1e61773da4f83d2d33fd6e38f3dec
            - var className = 'rounded-btn--blue2 rounded-btn--hoverable'
            - el = { text: 'Request Demo', class: className, id: ''} 
            include partials/rounded-btn
          
          .k-sample
            .hash-e#45c74b08d69d3ab7893bf7a96d097290 45c74b08d69d3ab7893bf7a96d097290
            - var className = 'rounded-btn--blue3 rounded-btn--hoverable'
            - el = { text: 'Request Demo', class: className, id: ''} 
            include partials/rounded-btn

          .cf
          .hash-e#018b2f03df7c065c694e5892b9287021 018b2f03df7c065c694e5892b9287021
          - el = { class: '', id: ''} 
          include partials/input
        
        .cf
  
      .section-kl
        .header-ke Blocks
        .hash-e#08683ec747ff35de14ad2765f8a9078e 08683ec747ff35de14ad2765f8a9078e        
        - el = { items: ['Log In', 'Sign Up'], class: '', id: ''} 
        include partials/header-link-line

        .hash-e#fc5824bd35eff85f11d426e8dbfd9ddf fc5824bd35eff85f11d426e8dbfd9ddf
        - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
        include partials/sidebar-list
        
        .k-sample
          .hash-e#0e0013fd36e58408b7246ec8a8edfb66z 0e0013fd36e58408b7246ec8a8edfb66
          - el = { class: '', id: ''}
          - el.icon = { path: 'search-icon' }
          include partials/sidebar-btn

        .k-sample
          .hash-e#0e0013fd36e58408b7246ec8a8edfb66z 0e0013fd36e58408b7246ec8a8edfb66z
          - el = { class: '', id: ''}
          - el.icon = { path: 'home-icon' }
          include partials/sidebar-btn

        .k-sample
          .hash-e#9c53be8ee1b8adc743428f4eef68f072 9c53be8ee1b8adc743428f4eef68f072
          .sidebar-scoll-top

        .k-sample
          .hash-e#8d97f4a419a59976b2f18e6311d0d56c 8d97f4a419a59976b2f18e6311d0d56c
          .sidebar-expand

        .k-sample
          .hash-e#883c00286c7cedf015ccc175d0a02dec 883c00286c7cedf015ccc175d0a02dec
          mixin sidebar-panel(o)
            .sidebar-panel(class="#{o.class}")
              
              .sidebar-panel__top-btns
                - el = { class: '', id: ''}
                - el.icon = { path: 'home-icon' }
                include partials/sidebar-btn

               

              - el = { class: 'sidebar-panel__search' }
              - el.input = { class: '', id: 'input-883c00286c7cedf015ccc175d0a02dec'}
              - el.icon =  { path: 'search-icon' }
              include partials/input-icon

              .sidebar-expand

              .sidebar-scoll-top

          +sidebar-panel({})

        .k-sample(style="display:none;")
          .hash-e#88600f049550246039629c60accbcd80 88600f049550246039629c60accbcd80
          +sidebar-panel({class:'is-scroll-top'})

        .k-sample
          .hash-e#0ef5d460a3af92c75b2b1acabdb438fe 0ef5d460a3af92c75b2b1acabdb438fe
          mixin sidebar(o)
            .sidebar
              .sidebar-header.sidebar__about-header What is StatSocial?
              .sidebar-about StatSocial delivers enterprise-class Twitter analytics that help marketers understand their social consumers. By identifying where Twitter users exist elsewhere on the Web, StatSocial offers an unparalleled level of demographic and psychographic insights from consumer data aggregated not just from Twitter, but from over sixty social sites and every major blog platform.
              - el = { class: 'sidebar__search' }
              - el.input = { class: '', id: 'input-0a0478d84d885b39b0df7c5939a6037c'}
              - el.icon =  { path: 'search-icon' }
              include partials/input-icon

              .sidebar-header.m-t-x3-g Recent Posts
              - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
              include partials/sidebar-list

              .sidebar-header.m-t-x2-g Archives
              - el = { items: [{text: 'June 2014'},{text: 'May 2014'},{text: 'April 2014'}], class: '', id: ''} 
              include partials/sidebar-list

              .sidebar-header.m-t-x2-g Recent Posts
              - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
              include partials/sidebar-list

              .sidebar-header.m-t-x2-g Recent Posts
              - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
              include partials/sidebar-list

              .sidebar-header.m-t-x2-g Recent Posts
              - el = { items: [{text: 'Matt Laure Joins Facebook'},{text: 'Obama takes Tumblr'},{text: 'The Best & Worst of Twitter: Week of 6/1/2014'}], class: '', id: ''} 
              include partials/sidebar-list

          +sidebar()

        .cf
        
        .k-sample(style="margin-bottom: 60px;")
          .hash-e#2dd245c639f53c95bb8dda4ae880acc1 2dd245c639f53c95bb8dda4ae880acc1
          .sidebar-n-panel
            .sidebar-n-panel__sidebar-l
              +sidebar()
            +sidebar-panel({class:'is-scroll-top'})

        .k-sample(style="height: 700px; margin-bottom: 60px;")
          .hash-e#18dc84f92e17a6cffd9a07ebe1b86fff 18dc84f92e17a6cffd9a07ebe1b86fff
          .sidebar-n-panel.is-at-tablet
            .sidebar-n-panel__sidebar-l
              +sidebar()
            +sidebar-panel({class:'is-scroll-top'})

        .k-sample(style="height: 700px; margin-bottom: 60px;")
          .hash-e#61ca1fbc891c10f80910e08063426d4c 61ca1fbc891c10f80910e08063426d4c
          .sidebar-n-panel.is-at-tablet.is-expanded
            .sidebar-n-panel__sidebar-l
              +sidebar()
            +sidebar-panel({class:'is-scroll-top'})

        .cf

        .hash-e#0a0478d84d885b39b0df7c5939a6037c 0a0478d84d885b39b0df7c5939a6037c
        - el = { class: '', id: ''}
        - el.input = { id: 'input-0a0478d84d885b39b0df7c5939a6037c'}
        - el.icon =  { path: 'search-icon' }
        include partials/input-icon

        .hash-e#bc450f49128e9768ab944e51920e0250 bc450f49128e9768ab944e51920e0250
        - el = { class: 'input-icon--header', id: ''}
        - el.input = { id: 'input-bc450f49128e9768ab944e51920e0250'}
        - el.icon =  { path: 'search-icon' }
        include partials/input-icon

        .hash-e#cbb3694893dda7ad17fa70e114baabde cbb3694893dda7ad17fa70e114baabde
        mixin header(o)
          .header(class="#{o.className || ''}")
            .header__left
              - el = { text: 'statsocial' }
              - el.icon = { path: 'logo-icon'}
              include partials/icon-text

            .header__right
              - var className = 'header__right__request-demo rounded-btn--blue2 rounded-btn--hoverable'
              - el = { text: 'Request Demo', class: className, id: ''} 
              include partials/rounded-btn

              - el = { items: ['Log In', 'Sign Up'], class: 'header__right__actions', id: ''} 
              include partials/header-link-line

              - el = { class: 'input-icon--header', id: ''}
              - el.input = { id: 'input-'+o.inputId}
              - el.icon =  { path: 'search-icon' }
              include partials/input-icon

              - var el = { class: 'header__right__menu-icon', path: 'menu-icon' }
              include partials/icon
        +header({})

        .hash-e#c23cdad713ba9c41c6ed2c9bf8e5bac7 c23cdad713ba9c41c6ed2c9bf8e5bac7
        div(style="width: 420px")
          - var options = { className: 'header--at-mobile', inputId: 'c23cdad713ba9c41c6ed2c9bf8e5bac7' }
          +header(options)


      .section-kl
        .header-ke Grid
        .hash-e#c9f545437c019c6b67579d6dadc07ecf c9f545437c019c6b67579d6dadc07ecf
        - var gridSize = 20
        - for (var i=1; i<(gridSize/2)+1; i++ )
          .grid.grid--gutter-x2.m-t-x2-g
            .grid-bit(class="grid-bit--#{i}-#{gridSize}"):    .k-content
            .grid-bit(class="grid-bit--#{gridSize-i}-#{gridSize}"): .k-content

        .hash-e#b9a0ff7b6444fe8b3932c06919534ab5 b9a0ff7b6444fe8b3932c06919534ab5
        - for (var i=1; i<(gridSize/2)+1; i++ )
          .grid.grid--sliced.grid--gutter-x4.m-t-x2-g
            .grid-bit(class="grid-bit--#{i}-#{gridSize}"):    .k-content
            .grid-bit(class="grid-bit--#{gridSize-i}-#{gridSize}"): .k-content







